<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_mtk"
        android:label="Matematika"
        android:roundIcon="@drawable/logo_mtk"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasPakAji"
        tools:targetApi="31">
        <activity
            android:name=".bangunRuang.Sphere"
            android:exported="false" />
        <activity
            android:name=".bangunRuang.Cylinder"
            android:exported="false" />
        <activity
            android:name=".bangunRuang.HexagonalPrism"
            android:exported="false" />
        <activity
            android:name=".bangunRuang.SquarePyramid"
            android:exported="false" />
        <activity
            android:name=".bangunRuang.Cone"
            android:exported="false" />
        <activity
            android:name=".bangunRuang.Cube"
            android:exported="false" />
        <activity
            android:name=".bangunDatar.Kite"
            android:exported="false" />
        <activity
            android:name=".bangunDatar.Rhombus"
            android:exported="false" />
        <activity
            android:name=".bangunDatar.Triangle"
            android:exported="false" />
        <activity
            android:name=".bangunDatar.Circle"
            android:exported="false" />
        <activity
            android:name=".bangunDatar.Rectangle"
            android:exported="false" />
        <activity
            android:name=".bangunDatar.Square"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>